In [1]:
import pandas as pd

In [2]:
import pandas as pd

data = [
    ["Alice", 25],
    ["Bob", 30],
    ["Charlie", 35]
]

df = pd.DataFrame(data, columns=["Name", "Age"])
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [4]:
data2 = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}

df2 = pd.DataFrame(data2)

In [5]:
df2

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [7]:
import numpy as np

arr = np.array([[1, 2], [3, 4]])
df3 = pd.DataFrame(arr, columns=["A", "B"])

In [8]:
df3

   A  B
0  1  2
1  3  4

In [9]:
# df = pd.read_csv("data.csv")
# from csv files

In [10]:
# pd.read_csv("data.csv", usecols=["Name", "Age"])

In [11]:
# df = pd.read_excel("data.xlsx")

In [12]:
# df = pd.read_json("data.json")

In [13]:
# import sqlite3

# conn = sqlite3.connect("mydb.sqlite")
# df = pd.read_sql("SELECT * FROM users", conn)

In [14]:
# url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
# df = pd.read_csv(url)

In [15]:
#df.head()         # First 5 rows
# df.tail()         # Last 5 rows
# df.info()         # Column info: types, non-nulls
# df.describe()     # Stats for numeric columns
# df.columns        # List of column names
# df.shape          # (rows, columns)