In [12]:
import pandas as pd

In [13]:
# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 78, 92],
    'Science': [90, 82, 89],
    'English': [88, 85, 94]
}
 
df = pd.DataFrame(data)
 
# Display the DataFrame
print(df)

      Name  Math  Science  English
0    Alice    85       90       88
1      Bob    78       82       85
2  Charlie    92       89       94

In [14]:
# The melt() method in Pandas is used to unpivot a DataFrame from wide format to long format. In other words, it takes columns that represent different variables and combines them into key-value pairs (i.e., long-form data).

In [15]:
# syntax df.melt(id_vars=None, value_vars=None, var_name=None, value_name="value", col_level=None)

In [16]:
df.melt(id_vars=["Name"], value_vars=["Math", "Science", "English"], var_name="Subject", value_name="Score")

      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     78
2  Charlie     Math     92
3    Alice  Science     90
4      Bob  Science     82
5  Charlie  Science     89
6    Alice  English     88
7      Bob  English     85
8  Charlie  English     94

## id_vars=["Name"]: We keep the "Name" column as it is because it's the identifier.

## value_vars=["Math", "Science", "English"]: These are the columns we want to melt.

## var_name="Subject": The new column containing the names of the subjects.

## value_name="Score": The new column containing the scores.

### Why Use melt()?

### Data normalization: Helps in transforming data for statistical modeling and data visualization.

### Pivot tables: Many times, plotting functions or statistical models work better with long-format data.

### This is useful for converting columns into rows â€” perfect for plotting or tidy data formats.

In [17]:
# pivot used to shape in a wider format

In [18]:
# df.pivot(index="Name", columns="Subject", values="Score") syntax throws error if duplicate value

## Parameters:

    index: The column whose unique values will become the rows of the new DataFrame.
    
    columns: The column whose unique values will become the columns of the new DataFrame.
    
    values: The column whose values will fill the new DataFrame. These will become the actual data (values in the table).

In [19]:
df

      Name  Math  Science  English
0    Alice    85       90       88
1      Bob    78       82       85
2  Charlie    92       89       94

In [22]:
df.pivot(index="Name", columns="Math", values="Math")

Math       78    85    92
Name
Alice     NaN  85.0   NaN
Bob      78.0   NaN   NaN
Charlie   NaN   NaN  92.0

In [26]:
df.pivot_table(index="Name", columns="Math", values="Math", aggfunc="mean")

ValueError: Grouper for 'Math' not 1-dimensional